<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">

<div class="text-center">
  <h2>Team 2 - Client App</h2>
</div>
<hr>
<div class="container-fluid">
  <div class="container">

    <h4>
      {{ pageTitle }}
    </h4>
  </div>
</div>
<div class="container" id="read-emp-profie">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
        <tr class="row">
          <th class="col-md-3">Emp Email</th>
          <th class="col-md-3">Emp Name </th>
          <th class="col-md-3">Salary</th>
          <th class="col-md-3">Department</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of allItems" class="row">
          <td class="col-md-3"> {{ item.empEmail }} </td>
          <td class="col-md-3"> {{ item.empName }}  </td>
          <td class="col-md-3"> {{ item.salary }} </td>
          <td class="col-md-3"> {{ item.department }} </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
